.cd-report {
    border: 1px solid lightgray;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    width: 100%;

    .cd-input {
        margin-bottom: 10px;
    }

    .cd-title h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .cd-btn__blk {
        margin: 0;
        width: 25%;
    }
}