.cd-title {
    margin-bottom: 20px;

    h3 {
        font-size: 25px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    p {
        font-size: 15px;
        line-height: 19px;
        color: gray;
    }
}